<app-header></app-header>
<div class="h-3/4 flex flex-col items-center">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="w-1/3 h-1/3 mt-2 flex flex-col font-mono items-center">
      <input id="city" type="text" formControlName="city" class="form-input rounded-lg border-2 border-gray-500 text-center w-full mb-1" placeholder="Enter a city name">
      <button type="submit" [disabled]="myForm.invalid" class="form-button w-full bg-sky-300 rounded-lg border-2 border-gray-500 text-center hover:bg-sky-600 font-bold">Search</button>
  </form>

  @if(weather) {
  <div class="bg-white rounded-lg w-1/3 h-2/3 text-lg font-mono p-2">
    <h2 class="text-center text-4xl font-bold font-mono underline mb-5">{{ weather.name }}</h2>
    <div class="h-3/4 flex justify-between flex-wrap">
      <div class="w-[45%] h-[45%] bg-blue-200 rounded-lg font-mono text-center font-bold flex flex-col justify-between">Weather :
        @if(weather.weather[0].main === 'Clear') {
          <p class="text-6xl">☀️</p>
        }
        @else if(weather.weather[0].main === 'Clouds') {
          <p class="text-6xl">☁️</p>
        }
        @else if(weather.weather[0].main === 'Rain') {
          <p class="text-6xl">🌧️</p>
        }
        @else if(weather.weather[0].main === 'Snow') {
          <p class="text-6xl">❄️</p>
        } @else {
          <p class="text-6xl">🌥️</p>
        }
        <p class="justify-self-end">{{ weather.weather[0].description }}</p>
      </div>
      <div class="w-[45%] h-[45%] bg-green-200 rounded-lg font-mono text-center font-bold">Temp :
        @if(temp <= 5) {
          <p class="mt-3 text-5xl text-blue-400">{{ temp }} °C</p>
        }
        @else if(temp > 5 && temp <= 25) {
        <p class="mt-3 text-5xl text-yellow-400">{{ temp }} °C</p>
        }
        @else {
          <p class="mt-3 text-5xl text-red-400">{{ temp }} °C</p>
        }
        <p class="mt-2">Feel Temp : {{ tempFeel }} °C</p>
      </div>
      <div class="w-[45%] h-[45%] bg-yellow-200 rounded-lg font-mono text-center font-bold mt-5">Humidity :
          <p class="mt-8 text-3xl">{{ weather.main.humidity }} %</p>
      </div>
      <div class="w-[45%] h-[45%] bg-gray-200 rounded-lg font-mono text-center font-bold mt-5">Pressure :
        <p class="mt-8 text-3xl">{{ weather.main.pressure }} hPa</p>
      </div>
    </div>
    <p>State : {{ weather.sys.country }}</p>
  </div>
  }@else {
    <p class="text-white text-lg">No city found</p>
  }

</div>


